---
import Icon from "./Icon.astro";
---

<div class="container-fluid mt-3">
	<div class="container-fluid">
		<div class="row mb-5">
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="php2"
					color="var(--accent-regular)"
					size="3.5rem;object-fit: none;"
					gradient
				/><h4>Php</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="symfony"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>Symfony</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="wordpress"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>WordPress</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="html5"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>Html 5</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="css"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>Css 3</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="bootstrap"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>Bootstrap</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="js"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>Javascript</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="Jquery"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>Jquery</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="mysql"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>Mysql</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="git"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>Git</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="github"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>Github</h4>
			</div>
			<div class="col-lg-3 col-sm-4 col-6 mb-5">
				<Icon
					icon="ghitlab"
					color="var(--accent-regular)"
					size="3.5rem"
					gradient
				/><h4>Gitlab</h4>
			</div>
		</div>
	</div>

	<style>
		.row {
			border: 1px solid var(--gray-800);
			border-radius: 0.75rem;
			padding: 1.5rem;
			background-color: var(--gray-999_40);
			box-shadow: var(--shadow-sm);
		}

		h4 {
			font-size: var(--text-lg);
		}

		@media (min-width: 50em) {
			h4 {
				font-size: var(--text-2xl);
			}
		}
	</style>
</div>
